#button-group {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
}

.reply-button {
    box-sizing: border-box;
    font-family: inherit;
    text-transform: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    margin: 0 0 0.5rem;
    height: 3rem;
    width: 15rem;
    z-index: 999;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.7;
}

.reply-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    opacity: 1;
}

#button-group-toggle {
    height: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

#button-group-toggle.open {
    background-color: #0069d9;
    border-radius: 50%;
    opacity: 0.7;
}
